mixin what-we-do()
  section.what-we-do
    h3.what-we-do__sign
      span
      | What we do
      span

    div.what-we-do__items
      each val in [1, 2, 3, 4]
        div.what-we-do__item
          div.what-we-do__outer
            div.what-we-do__inner
              img.what-we-do__img(src='%=static=%img/assets/what-we-do/what-we-do-'+ val +'.png' alt='what-we-do-' + val)
              h4 Print Design
              p Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
