mixin what-we-do(data)
  section.what-we-do
    h3.what-we-do__sign
      span
      | What we do
      span
    div.what-we-do__items
      each value in data.values
        div.what-we-do__item
          div.what-we-do__outer
            div.what-we-do__inner
              img.what-we-do__img(src=`%=static=%img/assets/what-we-do/${value.src}` alt=`${value.alt}`)
              h4 Print Design
              p Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.