mixin our-projects(data)
  section.our-projects
    h3.our-projects__sign
      span
      | Our recent projects
      span
    div.our-projects__items
      each value in data.values
        div.our-projects__item
          img(src=`%=static=%img/content/${value.src}` alt=`${value.alt}`)

          h4
            a(href="#") #{value.title}
          div.our-projects__tags
            a(href="#") Music,&nbsp;
            a(href="#") PSD,&nbsp;
            a(href="#") Mockups
          p.our-projects__desc
            | Nulla libero un pharetra augue etiam malesuada magna mollis. Nullam id dolor id nibh ultricies.