// Common styles of the project

html, body {
  color: $main-font-color;
  height: 100%;
  font-family: $main-font;
}

body {
  @media #{$media-tablet} {
    margin-top: 171px;
  }
}

.page__wrapper {
  @include wrapper;
}
