.our-process {
  background: url('%=static=%assets/our-process/our-process-bg.jpg') no-repeat center;
  background-size: cover;
  margin-top: 70px;
  padding: 78px 0;
}

.our-process__desc {
  font-size: 14px;
  font-weight: $font-medium;
  margin-top:  15px;
  line-height: 1.7;
  text-align:  center;

  @media #{$media-tablet} {
    padding: 0 140px;
  }
}

.our-process__items {
  display:        flex;
  margin-top: 45px;
  padding: 0 30px;

  @media #{$media-mobile} {
    flex-direction:  column;
    align-items: center;
  }

  @media #{$media-tablet} {
    flex-direction:  row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.our-process__item {
  text-align: center;
  width: 130px;

  a {
    @include transition;

    background-color: #252628;
    border-radius:    50px;
    border:           2px solid #1abb9c;
    display:          inline-block;
    width:         90px;
    height:        90px;

    &:hover {
      background-color: #1abb9c;

      svg {
        fill: #f9f9f9;
      }
    }

    .our-process__chemistry {
      width: 38px;
    }
  }

  p {
    color:          #ddd;
    font-size:      14px;
    font-weight:    $font-extra-bold;
    margin-top:     18px;
    text-transform: uppercase;
  }

  @media #{$media-mobile} {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media #{$media-tablet} {
    margin-bottom: 0;
  }
}

.our-process__sign {
  color: $font-color-process;

  &--gray {
    @include sign(#777);
  }
}

.our-process__desc {
  color: $font-color-process;
  font-size: 14px;
  font-weight: $font-medium;
}

.our-process {
  svg {
    @include transition;

    fill:       #1abb9c;
    margin-top: 11px;
    width:      50px;
  }
}

.our-process__line {
  background-color: #777;
  height: 1px;
  margin-top: 46px;
  width: 190px;

  @media #{$media-mobile} {
    display: none;
  }

  @media #{$media-tablet} {
    display: block;
  }
}
