mixin our-process(data)
  section.our-process
    div.page__wrapper
      h3.our-process__sign.our-process__sign--gray
        span
        | Our process
        span
      p.our-process__desc
        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna posuere velit aliquet.
      div.our-process__items
        each value, index in data.values
          div.our-process__item
            a(href='#')
              != pugHelpers.Icon.call(locals, {iconName: value.iconName, className: value.className, iconWidth: '64', iconHeight: '64'})
            p 1. Creative ideas
          if index < (data.values.length - 1)
            div.our-process__line