mixin header()
  header.header
    div.header__wrapper
      div.header__logo
        a(href='#')
           span Lo om
      nav
        ul.header__links
          li.header__link--active
            a(href='#') Home
          li.header__has-submenu
            a(href='javascript:void(0)') Pages
              span.header__arrow-down <
            ul.header__submenu
              li
                a(href='#') Pages Submenu 1
              li
                a(href='#') Pages Submenu 2
          li
            a(href='#') Journal
          li.header__has-submenu
            a(href='javascript:void(0)') Portfolio
              span.header__arrow-down <
            ul.header__submenu
              li
                a(href='#') Portfolio Submenu 1
              li
                a(href='#') Portfolio Submenu 2
          li
            a(href='#') Features
          li.header__has-submenu
            a(href='javascript:void(0)') Contact
              span.header__arrow-down <
            ul.header__submenu
              li
                a(href='#') Contact Submenu 1
              li
                a(href='#') Contact Submenu 2
