mixin our-customers()
  section.our-customers
    div.page__wrapper
      h3.our-customers__sign.our-customers__sign--gray
        span
        | What Our Customers Think
        span
      p.our-customers__think
        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus.
      p.our-customers__author
        a(href="#") Barclay Widerski