mixin slider(data)
  section.slider
    div.slider__items
      each value in data.values
        div
          img(src=`%=static=%img/assets/slider/${value.src}` alt=`${value.alt}`)
    div.slider__arrows
