mixin slider()
  section.slider
    div.slider__items
      div
        img(src='%=static=%img/assets/slider/slider.jpg' alt='Slider 1')
      div
        img(src='%=static=%img/assets/slider/slider.jpg' alt='Slider 2')
    div.slider__arrows
