.slider {
  position: relative;

  @media #{$media-mobile} {
    display: none;
    height: 500px;
    width:  768px;

  }

  @media #{$media-tablet} {
    display: block;
    height: auto;
    width:  auto;
  }
}

.slider__items {
  display: none; // Для предотвращения flash эффекта

  img {
    @include img-responsive;
  }
}

.slider__arrows {
  transform: translate(0, -50%);
  top:       50%;
  position:  absolute;
  width:     100%;
}